/**********
* Helpers *
**********/

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 1em;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #1B282B;
}

.clear-both {
  clear: both;
}

.hidden {
  display: none;
}

.displayed {
  display: inline-block;
}

@font-face {
  font-family: Mallory;
  src: url('/assets/Mallory-Medium.otf') format('opentype');
}

@font-face {
  font-family: YaleNew;
  src: url('/assets/YaleNew-Roman.otf') format('opentype');
}

@font-face {
  font-family: 'Mallory Light';
  src: url('/assets/Mallory-Light.otf') format('opentype');
}

/*************
* Background *
*************/

.readymade-site-background {
  display: none;
}

.panoptes-main {
  background-color: #333;
}

.react-wrapper {
  background-color: #333333;
}

/*********
* Navbar *
*********/

.main-header-group {
  background-image: none;
  background-color: #000630;
  height: 50px;
  white-space: nowrap;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.header-content {
  width: 1245px;
  margin: 0 auto;
}

.main-header-group .logo {
  height: none;
  transform: none;
  -webkit-transform: none;
  -ms-transform: none;
  padding: 0;
  width: 80px;
  max-width: 80px;
  height: 80px;
}

.main-header-item.logo img {
  width: 50px;
  height: auto;
  margin: 20px -3px 0 -6px;
  display: none;
}

.brand-title-container {
  width: 240px;
  height: 60px;
  background: #00356B;
  text-align: center;
  overflow: hidden;
  margin-right: 100px;
  margin-left: 60px;
  display: inline-block;
}

.brand-title-container a {
  text-decoration: none;
  color: #789BB6;
}

.brand-title {
  height: 46px;
  margin-top: 8px;
}

.brand-subtitle {
  color: #fff;
  font-size: .8em;
  font-weight: 100;
  letter-spacing: .08em;
  overflow: hidden;
}

.workflow-tab-container {
  display: inline-block;
  vertical-align: top;
  margin-top: 14px;
  box-sizing: border-box;
}

.workflow-tab-container span {
  display: inline-block;
  margin-right: 60px;
  line-height: 10px;
}

.workflow-tab-container .main-header-underline {
  height: 2px;
  background: #69A7C7;
  width: 0%;
  transition: width 0.3s;
  margin-top: 4px;
}

.workflow-tab-container span:hover .main-header-underline  {
  width: 100%;
}

.main-header-item:hover {
  background: transparent;
}

.login-container {
  max-height: 100%;
  display: none;
}

.main-header-item {
  line-height: 12px;
  margin-top: 20px;
  font-family: Mallory;
  font-size: 12px;
  height: 17px;
  border-bottom: 0px solid #69A7C7;
  transition: border-bottom 0.3s;
}

.main-header-button {
  color: #ccc;
  padding-bottom: 4px;
  vertical-align: top;
}

.main-header-item.selected {
  border-bottom: none;
  background: none;
  color: #fff;
  font-weight: 500;
}

.login .login-container {
  padding-right: 2%;
  float: left;
  height: 100%;
  line-height: 80px;
  font-family: Mallory;
  font-size: .95em;
}

.login,
.logout {
  color: #789BB6;
}

/**********************
* Main Page Overrides *
**********************/

.main-content {
  margin-top: 50px;
  margin-bottom: 0px;
}

.home-page {
  margin: 0;
}

.page-content {
  padding: 0;
}

/*******
* Hero *
*******/

.home-page .hero-container {
  height: 0;
  padding-top: 48%;
  min-height: 450px;
  width: 100%;
  margin-top: -5px;
  overflow: hidden;
  position: relative;
}

.home-page .hero-container .image-container {
  height: 100%;
  position: relative;
}

.home-page .hero-container .image-container::after {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  height: 400px;
  background: linear-gradient(0deg, rgba(0,0,0,0), rgba(0,0,0,0.8));
  z-index: 1;
  opacity: 100;
  content: '';
}

.home-page .hero-image {
  height: 100%;
  opacity: 1;
  transition: opacity 2s;
  background-size: cover;
  background-position: 50% 40%;
  background-image: url(/assets/winter-tale-flip.jpg);
}

.home-page .next-hero-image-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.home-page .next-hero-image {
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: opacity 2s;
  background-size: cover;
  background-position: 50% 40%;
}

.home-page .hero-overlay-container,
.login-page .hero-overlay-container {
  position: absolute;
  color: #fff;
  width: 100%;
  padding: 130px 0;
  font-size: .7em;
  line-height: 1em;
  z-index: 2;
  box-sizing: border-box;
  text-align: left;
}

.home-page .hero-overlay-title,
.login-page .hero-overlay-title {
  font-family: YaleNew;
  font-size: 1.35em;
  font-weight: 300;
  line-height: 1.25em;
}

.home-page .hero-overlay-title {
  margin-bottom: 15px;
  letter-spacing: 0.025em;
}

.home-page .hero-overlay-text,
.login-page .hero-overlay-text {
  margin: 20px 0;
  font-weight: 100;
  letter-spacing: .02em;
  font-size: .7em;
  font-family: 'Mallory Light';
  line-height: 1.4em;
}

.home-page .hero-overlay-text {
  display: none;
}

.home-page .hero-overlay-button,
.login-page .hero-overlay-button {
  background: rgba(0,0,0,0.5);
  width: 140px;
  position: relative;
  height: 16px;
  border-radius: 8px;
  text-align: center;
  padding: 9px;
  font-family: Mallory;
  letter-spacing: .03em;
  font-size: 15px;
  line-height: 18px;
  border: 1px solid #aaa;
  display: inline-block;
  margin-right: 13px;
  cursor: pointer;
}

.home-page .hero-overlay-button:hover,
.login-page .hero-overlay-button:hover {
  background: #fff;
  color: #00356B;
}

.home-page .hero-overlay-container,
.login-page .hero-overlay-container {
  background: transparent;
}

.home-page .hero-overlay-container a {
  text-decoration: none;
  color: #fff;
}

.home-page .hero-overlay-content {
  width: 1245px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 60px;
}

/***
* Login page
***/

.login-page {
  background: url(/assets/2012-WintersTale.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  left: 0;
  width: 100%;
  height: calc(100% - 80px);
  overflow: hidden;
}

.login-page .hero-overlay-title {
  font-size: 30px;
}

.login-page .hero-overlay-text {
  font-size: 15px;
}

.login-page .hero-overlay-button {
  width: 250px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: 20px;
  cursor: pointer;
  color: #fff;
  display: block;
  text-decoration: none;
}

.login-page a.hero-overlay-button-help {
  color: #789BB6;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 12px 0;
  font-size: 14px;
}

.login-page .hero-login-buttons {
  margin-top: 30px;
}

.login-page .hero-login-button {
  height: 30px;
  width: 80px;
  display: block;
  float: left;
  margin: 0 5px;
}

.login-page .hero-login-facebook {
  background: #445D95;
}

.login-page .hero-login-facebook-icon {
  background: url(/assets/facebook-login-button.png);
  background-position: 50% 50%;
  height: 100%;
  background-repeat: no-repeat;
}

.login-page .hero-login-google {
  background: #11A7E1;
}

.login-page .hero-login-google-icon {
  background: url(/assets/google-login-button.png);
  background-position: 50% 50%;
  height: 100%;
  background-repeat: no-repeat;
}

.login-page .hero-login-twitter {
  background: #CA4639;
}

.login-page .hero-login-twitter-icon {
  background: url(/assets/twitter-login-button.png);
  background-position: 50% 50%;
  height: 100%;
  background-repeat: no-repeat;
}

/********************
* Drama Era Gallery *
********************/

.group-area {
  text-align: center;
  max-width: 1400px;
}

.group-area-wrapper {
  margin: 40px 0 35px 40px;
  width: 1200px;
  display: inline-block;
}

.group-area-prompt {
  color: #fff;
  font-size: .75em;
  margin: 0 20px 30px;
}

.drama-era-image-wrapper {
  display: inline-block;
  margin-bottom: 30px;
  position: relative;
}

.drama-era-image-wrapper:nth-child(1n) {
  margin-right: 40px;
}

.program-buttons {
  position: absolute;
  top: 45px;
  z-index: 10;
  left: 0;
  right: 0;
  text-align: center;
  display: none;
}

.browse-programs-button,
.transcribe-program-button {
  text-align: center;
  background: #fff;
  display: inline-block;
  margin-right: 8px;
  width: 180px;
  box-sizing: border-box;
  font-size: 15px;
  padding: 11px;
  height: auto;
  line-height: 15px;
  color: #0F4D92;
  font-weight: 800;
  border-radius: 4px;
}

.browse-programs-button.left,
.transcribe-program-button.right {
  width: 140px;
}

.transcribe-program-button.right {
  background: #69A7C7;
  color: #fff;
}

.drama-era-image-wrapper:hover .program-buttons {
  display: block;
}

.col-sm-6 {
  flex-basis: 50%;
}

a.drama-era-group-link {
  height: 100%;
  width: 100%;
}

.drama-era-image-container {
  width: 540px;
  height: 270px;
  position: relative;
  transition: opacity .3s;
  opacity: 1;
  overflow: hidden;
  border: 1px solid #555;
  box-sizing: border-box;
}

.drama-era-image-container::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 48px;
  left: 0;
  background: rgba(0,0,0,0.0);
  z-index: 2;
  transition: background 0.3s;
}

.drama-era-image-wrapper:hover .drama-era-image-container::after {
  background: rgba(34, 34, 34, 0.85);
}

.flexbox-wrapper-groups {
  margin: 20px 12% 0px;
}

.drama-era-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}

.drama-era-image-0:hover {
  background-image: url('yellow-jacket_th.jpg');
  background-size: cover;
  height: 100%;
}

.drama-era-group-link {
  width: 44%;
}

.drama-era-image-container .drama-era-image-overlay {
  background: rgba(34, 34, 34, 0.85);
  width: 100%;
  color: #DDDDDD;
  padding: 16px 0;
  text-align: center;
  font-size: 16px;
  letter-spacing: .03em;
  line-height: 16px;
  font-family: YaleNew;
  text-transform: uppercase;
  position: absolute;
  z-index: 3;
  transition: background 0.5s;
  left: 0;
  right: 0;
  bottom: 0;
}

.collection-thumbnail:hover .collection-thumbnail-mark,
.collection-thumbnail:hover .collection-thumbnail-transcribe {
  opacity: 1;
}

.group-status {
  position: absolute;
  top: 80px;
  z-index: 3;
  left: 0;
  right: 0;
  text-align: center;
  color: #fff;
  font-size: 15px;
  line-height: 15px;
  font-family: Mallory;
  display: none;
}

.group-status * {
  display: inline-block;
}

.group-status-text {
  vertical-align: top;
  margin: 4px 5px;
  font-weight: 400;
}

.drama-era-image-wrapper:hover .group-status {
  display: block;
}

/*********
* Footer *
*********/

.footer-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.react-wrapper {
  flex: 1;
}

.footer-container {
  padding-top: 15px;
  position: relative;
  width: 100%;
  background-color: #222;
}

.footer-content {
  width: 1245px;
  margin: 0 auto;
}

.footer-left {
  width: 300px;
  height: 85px;
  margin-top: 14px;
  display: inline-block;
  margin-left: 60px;
}

.footer-left img {
  width: 100%;
}

.footer-right-container {
  float: right;
  margin-right: 60px;
  margin-top: 37px;
}

.footer-right-top {
  height: 60px;
}

.footer-right .footer-top-text {
  display: inline-block;
  width: 50px;
  color: #c3c3c3;
  font-size: .95em;
  letter-spacing: .04em;
  margin: 17px 0 0 15px;
  position: absolute;
}

.footer-right-top img {
  display: inline-block;
  width: 180px;
  float: right;
}

.footer-bottom-text {
  color: lightgray;
  font-style: italic;
  font-size: .7em;
  margin-left: 15px;
}

.scribe-logo .cls-1 {
  fill: #989595;
}

.scribe-logo .cls-2,
.scribe-logo .cls-4 {
  fill: none;
}

.scribe-logo .cls-3 {
  fill: #cccfcf;
}

.scribe-logo .cls-4 {
  stroke: #cccfcf;
  stroke-width: 2px;
}

@media (max-width: 1250px) {
  .footer-container {
    display: none;
  }
}

.footer-container a {
  color: #69A7C7;
  text-decoration: none;
}

/**********************
* Collection Content  *
**********************/

.collection-page-content {
  margin: 60px;
}

.collection-title-container {
  margin: 20px 24px;
  color: #fff;
}

.collection-title {
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: .04em;
  font-family: YaleNew;
  margin-left: 3px;
}

.collection-browse-container {
  background: #fff;
  display: inline-block;
}

.collection-container {
  width: 100%;
  height: 100%;
}

/*****************************
* Collection Browse Controls *
*****************************/

.collection-browse-controls-container {
  width: 300px;
  height: 800px;
  position: absolute;
  left: 60px;
  background: #fff;
  font-family: Mallory Light;
  color: #333333;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

.group-status-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 325px;
  background: #EBF4FD;
  overflow: hidden;
}

.group-status-container.tall {
  height: 400px;
}

.group-status-container::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: -4px;
  box-shadow: 0px 4px 5px rgba(0,0,0,0.3);
  z-index: 10;
  width: 300px;
  height: 4px;
}

.group-status-message {
  padding: 30px;
}

.group-status-message * {
  display: inline-block;
  margin-bottom: 10px;
  vertical-align: top;
  line-height: 19px;
}

.group-status-message span {
  margin-bottom: 0;
}

.group-status-message .status-top {
  font-size: 16px;
}

.group-status-message svg {
  width: 18px;
  position: relative;
  top: -1px;
  margin-right: 4px;
}

.group-status-message a {
  color: #69A7C7;
}

.collection-browse-controls-content {
  margin: 28px;
}

.collection-performance-dates-container {
  margin-top: 30px;
}

.collection-performance-dates-container .custom-select {
  margin-bottom: 7px;
}

.collection-performance-dates-label {
  display: inline-block;
}

.collection-question-mark-outer {
  display: inline-block;
  height: 22px;
  width: 22px;
  background: lightgray;
  border-radius: 30px;
  margin: 4px;
  float: right;
  margin-top: -2px;
  cursor: pointer;
}

.collection-question-mark-inner {
  padding: 2px 8px;
  color: #fff;
  font-weight: 800;
  text-align: center;
}

.collection-range-slider {
  margin: 10px 0px 24px 0px;
}

.collection-performance-dates-container .custom-select {
  display: inline-block;
}

.collection-browse-controls-content select {
  margin-top: 8px;
}

.min-max-dates-container {
  padding-top: 14px;
}

.min-max-date {
  display: inline-block;
}

.max-date.min-max-date {
  float: right;
}

/********************
* Date Range Slider *
********************/

.slider {
  width: 100%;
  max-width: 500px;
  height: 14px;
}

.slider .handle {
  top: 1px;
  width: 10px;
  height: 22px;
  line-height: 48px;
  border-radius: 3px;
  background: #fff;
  border: 1px solid #9f9f9f;
  margin-top: -6px;
}

.handle {
  font-size: 0.9em;
  text-align: center;
  background-color: black;
  color: white;
  cursor: pointer;
}

.handle.active {
  background-color: lightgray;
}

.bar {
  height: 100%;
}

.bar-0, .bar-2 {
  background: #e6e6e6;
}

.bar-1 {
  height: 100%;
  background: #999999;
}

/**************************
* Mark Transcribe Buttons *
**************************/

.collection-mark-transcribe-container {
  padding: 0 30px;
}

.collection-mark-transcribe-container a {
  text-decoration: none;
}

.collection-button {
  border-radius: 4px;
  text-align: center;
  padding: 10px;
  color: #fff;
  background: #679db8;
  font-family: Mallory;
  letter-spacing: 1px;
  font-size: 1.1em;
}

.collection-button:hover {
  background: #31627E;
}

.collection-button.transcribe-button a {
  text-decoration: none !important;
}

.transcribe-button {
  margin-top: 8px;
}

.hide-buttons button {
  display: none;
}

/**************************
* Collection Select Boxes *
**************************/

.collection-browse-controls-container select {
  width: 100%;
}

.custom-select {
  background: url('/assets/caret.png') no-repeat 96% 0;
  height: 29px;
  overflow: hidden;
  width: 245px;
  background-color: #e6e6e6;
}

.custom-select select {
  background: transparent;
  border: none;
  font-size: 13px;
  height: 29px;
  padding: 5px;
  width: 260px;
  margin: 0px;
  margin-left: 8px;
  color: #656565;
  cursor: pointer;
  padding-right: 41px;
  /* remove up down caret in firefox*/
  -moz-appearance: none;
  /* in chrome */
  -webkit-appearance:none;
}

/* in IE10 */
select::-ms-expand {
  display: none;
}


/***************
* Progress Bar *
***************/

.collection-progressbar-container {
  height: 12px;
  background: linear-gradient(lightgray, darkgray);
}

.collection-progressbar {
  width: 72%;
  height: 100%;
  background: linear-gradient(#82b4d1, #356f9a);
}

/******************************
* Collection Progress Details *
******************************/

.collection-progress-overall {
  margin-top: 15px;
}

.collection-progress-overall-label {
  display: inline-block;
  margin-left: 14px;
}

.collection-progress-overall-value {
  float: right;
  font-size: 1.7em;
  margin-top: -8px;
  margin-right: 43px;
}

.collection-progress-box-container {
  display: inline-block;
  margin-top: 10px;
  margin-left: 14px;
  text-align: center;
}

.collection-progress-box {
  display: inline-block;
  background: #e3e1e1;
  padding: 12px 12px;
  border-radius: 5px;
  width: 83px;
  height: 54px;
  line-height: 1.2em;
}

.collection-progress-box-right {
  float: right;
  margin-left: 10px;
}

.collection-progress-top,
.collection-completed-top {
  font-size: 1.6em;
  line-height: 1em;
}

.collection-progress-bottom,
.collection-completed-bottom {
  margin-top: 2px;
}

/************************
* Collection Thumbnails *
************************/

.collection-thumbnails {
  float: right;
  padding: 20px 20px 20px 323px;
  height: 800px;
  max-height: 800px;
  overflow: scroll;
  background: #CCCCCC;
  min-width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 40px;
}

.collection-thumbnail {
  float: left;
  margin: 12px 8px;
  position: relative;
}

.collection-thumbnail,
.collection-thumbnail-mark-container {
  height: 200px;
  width: 140px;
}

.group-page-image-thumbnail {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  position: absolute;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

/********************************
* Collection Thumbnail Overlays *
********************************/

.collection-thumbnail {
  font-size: 0.9em;
}

.collection-thumbnail-button-container {
  position: absolute;
}

.collection-thumbnail-mark {
  position: absolute;
  background: #679db8;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  font-family: Arial;
  cursor: pointer;
  opacity: 0;
  transition: opacity .3s;
  top: 80px;
  font-size: 15px;
  line-height: 15px;
  padding: 8px 29px;
  left: 27px;
}

.collection-thumbnail:hover .collection-thumbnail-mark {
  display: block;
}

/*************
* About Page *
*************/

#About h1 {
  display: none;
}

#About h2 {
  margin: 20px 0;
}

#About .updated-at {
  display: none;
}

#About .about-page {
  background-color: #1A1A1A !important;
}

#about-page {
  padding: 60px 80px;
  background: #1A1A1A;
  height: 100%;
}

#about-page a {
  color: #037FE8;
  font-family: Mallory;
  text-decoration: none;
}

#about-page h2 {
  font-size: 1.3em;
  color: #00356B;
  font-family: Mallory;

}

#about-page p {
  font-size: .925em;
  color: #000000;
  font-family: Mallory Light;
}

.about-page-container {
  background: #fff;
  overflow: hidden;
}

#about-page h2.about-the-archive {
  color: #fff;
  font-weight: 100;
  margin-bottom: 20px;
  font-size: 1.85em;
  margin-left: 40px;
  font-family: YaleNew;
}

.about-left-container {
  width: 50%;
  float: left;
  display: inline-block;
  color: #000;
}

.about-left-container h2,
.about-left-container p {
  margin-bottom: 15px;
}

.about-left {
  margin: 40px;
}

.about-right-container {
  width: 50%;
  float: right;
  color: #000;
  max-width: 550px;
}

.about-right {
  padding: 0 30px;
}

.about-page-image {
  height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.haas-art-library {
  background: url('/assets/haas-arts-library.jpg') no-repeat center center;
}

.yale-repertory-theatre {
  background: url('/assets/yalerep.jpg') no-repeat center center;
}

.about-page-right-text {
  background: #DDDDDD;
  min-height: 140px;
}

.about-page-right-text h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.about-page-right-text p {
  margin-bottom: 0;
}

.about-page-right-text {
  padding: 30px;
}

.contact-us {
  margin-top: 50px;
}

.about-page-image.yale-repertory-theatre {
  height: 302px;
}

/***
* Mark page
***/

.classifier .right-column {
  display: none;
}

.classifier .subject-area {
  padding-top: 80px;
  box-sizing: border-box;
}

.marks-for-annotation,
.subject-set-toolbar-links .fa-toggle-on,
.subject-set-toolbar-links .fa-toggle-off {
  display: none;
}

.help-modal, .draggable-modal {
  z-index: 11;
}

.major-button {
  background: #69A7C7;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: Mallory Light;
  padding-top: 8px;
}

.major-button:hover {
  background: #3a83a9;
}

.draggable-modal {
  background: #fff;
  border-radius: 0px;
}

.draggable-modal .modal-buttons {
  text-align: center;
  padding-bottom: 30px;
}

.yale-tutorial-modal {
  display: none;
}

.draggable-modal .modal-header {
  text-align: center;
  background: #fff;
  color: #00356B;
  padding-top: 40px;
  padding-bottom: 0px;
  font-family: YaleNew;
}

.help-modal .modal-body {
  padding: 15px 35px;
  font-size: 1em;
  line-height: 1.4em;
  overflow: visible;
  font-family: Mallory Light;
  font-weight: 600;
}

.close-modal {
  display: inline-block;
  float: right;
  position: relative;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.help-modal-pagination {
  background: #EBEBEB;
  width: 100%;
  height: 25px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.help-modal-page {
  height: 8px;
  width: 8px;
  border-radius: 7px;
  display: inline-block;
  margin: 0 5px;
  background: darkgray;
  cursor: pointer;
}

.help-modal-page.active {
  background: #696969;
}

.help-pages-container {
  display: inline-block;
  position: relative;
  left: 50%;
}

.minor-button.ghost, .small-button.ghost {
  border: 2px solid #69A7C7;
  color: #69A7C7;
  margin: 0;
  text-transform: uppercase;
  font-size: .9em;
  font-weight: 400;
  font-family: Mallory;
  letter-spacing: 0.25px;
}

rect.shape {
  fill: none;
}

.marking-surface .rectangle-tool .resize-button {
  r: 6;
}

.rectangle-tool polyline {
  cursor: move;
}

.rectangle-tool .committed polyline {
  cursor: default;
}

.workflow-task .drawing-tool-icon {
  margin-right: 12px;
}

.workflow-task .drawing-tool-icon > svg {
  height: 1.9em;
}

.workflow-task {
  padding: 0 20px;
}

.answers {
  margin-top: 25px;
}

.task-button-container {
  padding: 20px 0px;
  background: #EDF6FA;
}

/* Hide the checkmark used by scribeapi to signal bad playbill button active */
.toggle-button.toggled:before {
  content: '';
}

span.help {
  margin: 5px;
}

.answer .fa {
  margin-left: -4px;
  margin-top: 0px;
}

.toggle-help-button {
  cursor: pointer;
}

.toggle-help-button img {
  margin-left: 243px;
}

.task-area.transcribe {
  display: none;
}

.right-column .small-button.ghost {
  border: 2px solid #69A7C7;
  color: #69A7C7;
}

/* Hide the default Scribe help button to avoid duplicating fields */
button.small-button.help-button.ghost.minor-button {
  display: none;
}

.subject-set-toolbar {
  width: 72px;
  top: 50px;
  z-index: 1;
}

.subject-set-toolbar-links a {
  width: 73px;
}

/* loading page for subjects */
.group-page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: block;
}

.subject-viewer,
.subject-viewer.active {
  z-index: 2;
}

.subject-viewer-svg {
  background: #333;
}

.subject-set-viewer {
  margin-left: 70px;
}

.subject-set-toolbar-links {
  padding-left: 7px;
}

.light-box-area #visibility-button svg path {
  fill: #ffffff;
}

.light-box-area ul li,
.light-box-area ul li.active,
.light-box-area ul li:hover {
  border-width: 2px;
}

.mark-step-help {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.85s;
}

.complete-this-playbill-button.major-button {
  margin: 15px 20px 0;
  width: 210px;
}

/***
* Mark step task labels
***/

span.help {
  margin: 5px;
}

.label-container.marked .marked-task-symbol {
  background: url(/assets/task-completed-symbol.png);
  height: 16px;
  width: 16px;
  display: inline-block;
  position: absolute;
  right: 11px;
}

.label-container.active .mark-step-help {
  max-height: 200px;
  padding-bottom: 12px;
  padding-top: 4px;
}

.workflow-task {
  padding: 0 20px;
}

.answers {
  margin-top: 25px;
}

.answer .fa {
  margin-left: -4px;
  margin-top: 0px;
}

.complete-this-playbill-button.major-button {
  margin: 15px 20px 0;
  width: 210px;
  font-family: Mallory;
}

/***
* Mark page scrolling thumbnail browser
***/

.subject-set-toolbar-panes .pane {
  height: 100vh;
  overflow: scroll;
}

.light-box-area .carousel {
  padding-bottom: 90px;
}

/***
* Mark page zooms
***/

.subject-zoom-pan {
  margin-left: 9px;
}

.subject-set-toolbar-panes .pane.active {
  left: 80px;
  width: 147px;
  top: 30px;
}

.subject-set-toolbar-panes .pane.pan-zoom {
  height: 145px;
  padding: 3px;
  overflow: hidden;
}

/***
* Mark page tool icons
***/

.subject-set-toolbar-links a.active:after {
  display: none;
}

/***
* Mark page boolean toggle
***/

.boolean-toggle-container {
  margin: 0 20px;
}

.boolean-toggle-container .prompt {
  width: 140px;
  display: inline-block;
}

.boolean-toggle {
  display: inline-block;
  top: -8px;
  position: relative;
}

.boolean-toggle .track {
  width: 60px;
  height: 22px;
  background: #bcbcbc;
  border-radius: 10px;
}

.boolean-toggle .knob {
  height: 24px;
  width: 24px;
  background: #fff;
  top: -2px;
  position: relative;
  border-radius: 15px;
  border: 1px solid #cccccc;
  cursor: pointer;
  left: -1px;
}

.boolean-toggle .label {
  color: #fff;
  font-weight: 800;
  position: relative;
  left: 29px;
  top: 3px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: .95em;
}

.boolean-toggle.active .track {
  background: #A2D530;
}

.boolean-toggle.active .knob {
  left: 36px;
}

.boolean-toggle.active .label {
  left: -30px;
}


/***
* Mark or transcribe modal
***/

.mark-or-transcribe-modal-container {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.65);
  left: 0;
}

.mark-or-transcribe-modal {
  width: 600px;
  margin: 10% auto;
  background: #fff;
  color: #000;
  padding: 40px;
  border-radius: 4px;
  text-align: center;
}

.mark-or-transcribe-modal .greeting {
  margin-bottom: 14px;
}

a.transcribe-this-playbill-button {
  width: 273px;
  height: 31px;
  display: inline-block;
  margin-right: 10px;
}

a.transcribe-this-playbill-button .major-button {
  padding: 8px 0 6px;
  width: 100%;
}

.mark-or-transcribe-modal .major-button {
  letter-spacing: .02em;
}

/***
* Transcribe
***/

.transcribe-tool {
  max-width: 600px;
}

.transcribe-tool .small-button {
  padding: 0.45em 1em;
  margin: 0 4px;
  font-family: Mallory;
  letter-spacing: .5px;
}

.transcribe-tool .minor-button.ghost, .small-button.ghost {
  padding: 0.3em 1em 0.4em 1em;
  margin: 0 4px;
  color: #31627E;
  background: rgba(255,255,255,0.1);
  border: 2px solid #EBEBEB;
}

.transcribe-tool .minor-button.ghost.toggled,
.small-button.ghost.toggled {
  background: #ffffff;
  color: #d04343;
}

.transcribe-tool .minor-botton,
.transcribe-tool .small-button {
  background: #69A7C7;
}

.transcribe-tool .minor-botton, .transcribe-tool .small-button {
  background: #69A7C7;
  text-transform: uppercase;
  font-size: .9em;
  font-weight: 400;
}

.transcribe-help-icon-container {
  position: absolute;
  right: 25px;
  top: 25px;
  cursor: pointer;
}

.draggable-modal .modal-body {
  overflow: hidden;
}

.transcribe-tool .modal-body {
  margin-right: 40px;
}

/***
* Thumbnail browser
***/

.subject-set-toolbar-panes .pane.active {
  left: 80px;
  width: 158px;
}

.light-box-area .carousel {
  box-shadow: none;
}

/***
* Login links
***/

.login .login-container {
  width: 200px;
}

.login object {
  pointer-events: none;
}

.login .options {
  display: none;
  max-height: 100%;
  width: 200px;
}

.login .options a {
  background: none;
  width: 40px;
  height: 40px;
  line-height: 32px;
  margin-top: 21px;
}

.login:hover .options {
  display: inline-block;
}

.login:hover .label {
  display: none;
}

.options a:hover {
  cursor: pointer;
}
