/**********
* Helpers *
**********/

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 1em;
}

* {
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #1B282B;
}

.clear-both {
  clear: both;
}

.hidden {
  display: none;
}

.displayed {
  display: inline-block;
}

/*************
* Background *
*************/

.readymade-site-background {
  display: none;
}

.panoptes-main {
  background-color: #1B282B;;
}

/*********
* Navbar *
*********/

.main-header-group {
  background-image: none;
  background-color: #000630;
  overflow: hidden;
}

.main-header-group .logo {
  height: none;
  transform: none;
  -webkit-transform: none;
  -ms-transform: none;
  padding: 0;
  width: 80px;
  max-width: 80px;
  height: 80px;
}

.main-header-item.logo img {
  width: 50px;
  height: auto;
  margin: 20px -3px 0 -6px;
}

.brand-title-container {
  width: 344px;
  min-width: 344px;
  height: 100%;
  background: #00356B;
  text-align: center;
  overflow: hidden;
  margin-right: 100px;
}

.brand-title-container a {
  text-decoration: none;
}

.brand-title {
  height: 46px;
  margin-top: 27px;
}

.brand-subtitle {
  color: #fff;
  font-size: .8em;
  font-weight: 100;
  letter-spacing: .08em;
  overflow: hidden;
}

.login-container {
  max-height: 100%;
}

.main-header-item {
  line-height: 80px;
}

.main-header-button {
  margin-right: 80px;
}

.main-header-item:hover {
  background: rgba(120, 154, 180, 0.5)
}

.main-header-item.selected {
  border-bottom: none;
  background: #789ab4;
}

.login .login-container {
  padding-right: 2%;
  float: right;
  height: 100%;
  line-height: 80px;
}

.login,
.logout {
  color: #789BB6;
}

/**********************
* Main Page Overrides *
**********************/

.main-content {
  margin-top: 80px;
  margin-bottom: 0px;
}

.home-page {
  margin: 0;
}

.page-content {
  padding: 0;
}

.main-header-group {
  height: 80px;
}

/*******
* Hero *
*******/

.home-page .hero-container {
  height: 0;
  padding-top: 48%;
  min-height: 490px;
  width: 100%;
  margin-top: -5px;
  overflow: hidden;
}

.home-page .hero-container .image-container {
  height: 100%;
}

.home-page .hero-image {
  background-image: url("/assets/winter-tale-flip.jpg");
  background-size: cover;
  height: 100%;
  background-position: 50% 40%;
}

.home-page .hero-overlay-container {
  position: absolute;
  color: #fff;
  background: rgba(31, 31, 60, 0.8);
  width: 274px;
  margin: 40px 80px;
  padding: 35px;
  font-size: .7em;
  line-height: 1em;
}

.home-page .hero-overlay-title {
  font-size: 1.35em;
  font-weight: 300;
  font-family: serif;
  line-height: 1.1em;
}

.home-page .hero-overlay-text {
  margin: 20px 0;
  font-weight: 100;
  font-family: Arial;
  letter-spacing: .02em;
  font-family: Arial;
  font-size: .9em;
  line-height: 1.1em;
}

.home-page .hero-overlay-button {
  background: #85acc9;
  width: 180px;
  height: 16px;
  border-radius: 3px;
  margin-top: 7px;
  text-align: center;
  padding: 10px;
  font-family: Arial;
  letter-spacing: .03em;
  font-size: .8em;
}

.home-page .hero-overlay-button:hover {
  background: #6085a0;
}

.home-page .hero-overlay-container a {
  text-decoration: none;
  color: #fff;
}

/********************
* Drama Era Gallery *
********************/

.group-area {
  text-align: center;
  max-width: 1400px;
}

.group-area-wrapper {
  margin: 40px 0;
}

.drama-era-image-wrapper {
  height: 33%;
  width: 35%;
  display: inline-block;
  min-width: 400px;
}

.col-sm-6 {
  flex-basis: 50%;
}

a.drama-era-group-link {
  height: 100%;
  width: 100%;
}

.drama-era-image-container {
  width: 98%;
  height: 0;
  margin: 1% .5%;
  background-size: cover;
  padding-top: 45%;
}

.flexbox-wrapper-groups {
  margin: 20px 12% 0px;
}

.drama-era-image {
  border: 1px solid #767676;
  position: relative;
  cursor: pointer;
}

.drama-era-image-1 {
  background-image: url("hamlet2_th.jpg");
  background-size: cover;
  height: 100%;
}

.drama-era-image-2 {
  background-image: url("america_th.jpg");
  background-size: cover;
  height: 100%;
}

.drama-era-image-3 {
  background-image: url("fences_th.jpg");
  background-size: cover;
  height: 100%;
}

.drama-era-image-4 {
  background-image: url("streep_th.jpg");
  background-size: cover;
  height: 100%;
}

.drama-era-image-5 {
  background-image: url("viet-rock_th.jpg");
  background-size: cover;
  height: 100%;
}

.drama-era-image-6 {
  background-image: url("yellow-jacket_th.jpg");
  background-size: cover;
  height: 100%;
}

.drama-era-group-link {
  width: 44%;
}

.drama-era-image-container .drama-era-image-overlay {
  background: rgba(34, 34, 34, 0.75);
  width: 100%;
  color: #fff;
  padding: 7px 0;
  text-align: center;
  font-size: .55em;
  letter-spacing: .03em;
  line-height: 1em;
  font-family: Times;
  margin-top: -30px;
}

.collection-thumbnail:hover .collection-thumbnail-mark,
.collection-thumbnail:hover .collection-thumbnail-transcribe {
  opacity: 1;
}

.drama-era-image-container:hover .drama-era-image-overlay {
  background: rgba(35, 77, 145, 0.75);
}

/*********
* Footer *
*********/

.footer-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.react-wrapper {
  flex: 1;
}

.footer-container {
  position: relative;
  width: 100%;
  background-color: #1B282B;
}

.footer-left {
  width: 250px;
  height: 85px;
  margin-left: 60px;
  margin-top: 14px;
  display: inline-block;
}

.footer-left img {
  width: 100%;
}

.footer-right-container {
  width: 235px;
  height: 90px;  
  float: right;
  margin-right: 52px;
}

.footer-right-top {
  height: 60px;
}

.footer-right .footer-top-text {
  display: inline-block;
  width: 50px;
  color: #c3c3c3;
  font-size: .95em;
  letter-spacing: .04em;
  margin: 17px 0 0 15px;
  position: absolute;
}

.footer-right-top img {
  display: inline-block;
  width: 180px;
  float: right;
}

.footer-bottom-text {
  color: lightgray;
  font-style: italic;
  font-size: .7em;
  margin-left: 15px;
}

@media (max-width: 600px) {
  .footer-container {
    display: none;
  }
}


/**********************
* Collection Content  *
**********************/

.collection-page-content {
  margin: 60px;
}

.collection-title-container {
  margin: 20px 40px;
  color: #fff;
}

.collection-title {
  font-size: 1.6em;
  font-weight: 300;
  letter-spacing: .04em;
}

.collection-browse-container {
  background: #fff;
  display: inline-block;
}

.collection-container {    
  width: 100%;
  height: 100%;
}

/*****************************
* Collection Browse Controls *
*****************************/

.collection-browse-controls-container {
  width: 300px;
  height: 800px;
  position: absolute;
  left: 60px;
  background: #fff;
  font-family: Arial;
}

.collection-browse-controls-content {
  font-size: .85em;
  font-family: Arial;
  color: #787878;
  margin: 20px;
}

.collection-performance-dates-container {
  margin-top: 30px;
}

.collection-performance-dates-label {
  display: inline-block;
}

.collection-question-mark-outer {
  display: inline-block;
  height: 22px;
  width: 22px;
  background: lightgray;
  border-radius: 30px;
  margin: 4px;
  float: right;
  margin-top: -2px;
  cursor: pointer;
}

.collection-question-mark-inner {
  padding: 3px 6px;
  color: #fff;
  font-weight: 800;
}

.collection-range-slider {
  margin: 10px 0px 24px 0px;
}

.collection-performance-dates-container .custom-select {
  display: inline-block;
}

.collection-browse-controls-content select {
  margin-top: 8px;
}

.min-max-dates-container {
  padding-top: 14px;
}

.min-max-date {
  display: inline-block;
}

.max-date.min-max-date {
  float: right;
}

/********************
* Date Range Slider *
********************/

.slider {
  width: 100%;
  max-width: 500px;
  height: 14px;
}

.slider .handle {
  top: 1px;
  width: 10px;
  height: 22px;
  line-height: 48px;
  border-radius: 3px;
  background: #fff;
  border: 1px solid #9f9f9f;
  margin-top: -6px;
}

.handle {
  font-size: 0.9em;
  text-align: center;
  background-color: black;
  color: white;
  cursor: pointer;
}

.handle.active {
  background-color: lightgray;
}

.bar {
  height: 100%;
}

.bar-0, .bar-2 {
  background: #e6e6e6;
}

.bar-1 {
  height: 100%;
  background: #679db8;
}

/**************************
* Mark Transcribe Buttons *
**************************/

.collection-mark-transcribe-container {
  background: #e6e6e6;
  padding: 30px;
}

.collection-mark-transcribe-container a {
  text-decoration: none;
}

.collection-button {
  border-radius: 4px;
  text-align: center;
  padding: 9px;
  color: #fff;
}

.collection-button.transcribe-button a {
  text-decoration: none !important;
}

.mark-button {
  background: #2f5a6f;
}

.transcribe-button {
  margin-top: 8px;
  background: #679db8;
}

/**************************
* Collection Select Boxes *
**************************/

.collection-browse-controls-container select {
  width: 100%;
}

.custom-select {
  background: url("/assets/caret.png") no-repeat 96% 0;
  height: 29px;
  overflow: hidden;
  width: 260px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #e6e6e6;
}

.custom-select select {
  background: transparent;
  border: none;
  font-size: 14px;
  height: 29px;
  padding: 5px;
  width: 260px;
  margin: 0px;
  color: #656565;
  cursor: pointer;
  padding-right: 41px;
  /* remove up down caret in firefox*/
  -moz-appearance: none;
  /* in chrome */
  -webkit-appearance:none;
}

/* in IE10 */
select::-ms-expand {
  display: none;
}


/***************
* Progress Bar *
***************/

.collection-progressbar-container {
  height: 12px;
  background: linear-gradient(lightgray, darkgray);
}

.collection-progressbar {
  width: 72%;
  height: 100%;
  background: linear-gradient(#82b4d1, #356f9a);
}

/******************************
* Collection Progress Details *
******************************/

.collection-progress-overall {
  margin-top: 15px;
}

.collection-progress-overall-label {
  display: inline-block;
  margin-left: 14px;
}

.collection-progress-overall-value {
  float: right;
  font-size: 1.7em;
  margin-top: -8px;
  margin-right: 43px;
}

.collection-progress-box-container {
  display: inline-block;
  margin-top: 10px;
  margin-left: 14px;
  text-align: center;
}

.collection-progress-box {
  display:inline-block;
  background: #e3e1e1;
  padding: 12px 14px;
  border-radius: 5px;
  width: 83px;
  height: 40px;
}

.collection-progress-box-right {
  float: right;
  margin-left: 10px;
}

.collection-progress-top,
.collection-completed-top {
  font-size: 1.6em;
  line-height: 1em;
}

/************************
* Collection Thumbnails *
************************/

.collection-thumbnails {
  float: right;
  padding: 20px 20px 20px 323px;
  height: 800px;
  max-height: 800px;
  overflow: scroll;
  background: #a6b1bf;
  min-width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.collection-thumbnail {
  float: left;
  margin: 12px 8px;
  position: relative;
}

.collection-thumbnail,
.collection-thumbnail-mark-container {
  height: 200px;
  width: 140px;
}

.group-page-image-thumbnail {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  position: absolute;
}

/********************************
* Collection Thumbnail Overlays *
********************************/

.collection-thumbnail-button-container {
  position: absolute;
}

.collection-thumbnail-mark,
.collection-thumbnail-transcribe {
  position: absolute;
  width: 109px;
  height: 14px;
  padding: 7px;
  margin-left: 10px;
  background: #679db8;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  font-size: .9em;
  font-family: Arial;
  cursor: pointer;
  opacity : 0;
  transition: opacity .3s;
}

.collection-thumbnail:hover .collection-thumbnail-mark,
.collection-thumbnail:hover .collection-thumbnail-transcribe {
  display: block;
}

.collection-thumbnail-mark {
  margin-top: 65px; 
}

.collection-thumbnail-transcribe {
  margin-top: 100px;
}

/*************
* About Page *
*************/

#About h1 {
  display: none;
}

#About h2 {
  margin: 20px 0;
}

#About .updated-at {
  display: none;
}

#About .about-page {
  background-color: #1A1A1A !important;
}

/* About page */
div#about-page {
  padding: 50px;
  background: #1B282B;
  height: 100%;
}

#about-page h2 {
  font-size: 1.5em;
  color: #00356B;
}

.about-page-container {
  background: #fff;
}

#about-page h2.about-the-archive {
  color: #fff;
  font-weight: 100;
  margin-bottom: 20px;
  font-size: 1.85em;
}

.about-left-container {
  width: 50%;
  float: left;
  display: inline-block;
  color: #000;
}

.about-left-container h2,
.about-left-container p {
  margin-bottom: 15px;
}

.about-left {
  margin: 40px 30px;
}

.about-right-container {
  width: 50%;
  float: right;
  color: #000;
}

.about-right {
  padding: 0 30px;
}

.about-page-image {
  height: 200px;
  background: url(http://placehold.it/640x200) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;;
}

.about-page-right-text {
  background: #DDDDDD;
  min-height: 498px;
}

.about-page-right-text h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.about-page-right-text p {
  margin-bottom: 0;
}

.about-page-right-text {
  padding: 30px;
}

.contact-us {
  margin-top: 50px;
}

/***
* Mark page
***/

.classifier .right-column .task-area.mark {
  border-radius: 0px;
}

.help-modal, .draggable-modal {
  z-index: 11;
}

.major-button {
  background: #69A7C7;
  font-weight: 400;
}

.major-button:hover {
  background: #3a83a9;
}

.draggable-modal {
  background: #fff;
  border-radius: 0px;
}

.draggable-modal .modal-buttons {
  text-align: center;
  padding-bottom: 30px;
}

.yale-tutorial-modal .draggable-modal .modal-buttons {
  padding-bottom: 54px;
}

.draggable-modal .modal-header {
  text-align: center;
  background: #fff;
  color: #00356B;
  padding-top: 30px;
  padding-bottom: 0px;
  font-family: YaleNew;;
}

.help-modal .modal-body {
  padding: 15px 35px;
  font-size: 1em;
  line-height: 1.4em;
  overflow: visible;
}

.close-modal {
  display: inline-block;
  float: right;
  position: relative;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.help-modal-pagination {
  background: #EBEBEB;
  width: 100%;
  height: 25px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.help-modal-page {
  height: 10px;
  width: 10px;
  border-radius: 7px;
  display: inline-block;
  margin: 0 5px;
  background: darkgray;
  cursor: pointer;
}

.help-modal-page.active {
  background: #696969;
}

.help-pages-container {
  display: inline-block;
  position: relative;
  left: 50%;
}

.classifier .right-column .task-area .task-secondary-area {
  display: none;
}

.minor-button.ghost, .small-button.ghost {
  border: 2px solid #69A7C7;
  color: #69A7C7;
  padding: 0.4em 1.4em;
  margin: 0;
  text-transform: uppercase;
  font-size: .9em;
  font-weight: 400;
}

.classifier .right-column .task-area .help-bad-subject-holder {
  margin: 0px 0 15px 0;
}

.classifier .right-column .task-area .help-bad-subject-holder button {
  margin-top: 8px;
}

rect.shape {
  fill: none;
}

.workflow-task .drawing-tool-icon > svg {
  height: 1.9em;
}

.classifier .right-column .task-area .workflow-task .answer {
  background: #EBEBEB;
  font-weight: 400;
}

.classifier .right-column .task-area .workflow-task .answer.active {
  background: #D4E0E6;
  color: #000;
}

.classifier .right-column .task-area.mark {
  padding: 20px 0;
  width: 100%;
}

.classifier .right-column .task-area .task-container {
  width: 260px;
}

.workflow-task {
  padding: 0 20px;
}

.answers {
  margin-top: 25px;
}

.classifier .right-column .task-area .task-nav {
  margin: 0 20px;
}

.task-button-container {
  padding: 20px 0px;
  background: #EBEBEB;
}

.classifier .right-column .task-area .help-bad-subject-holder {
  margin: 0px 20px;
}

.classifier .right-column .task-area .workflow-task {
  margin-bottom: 30px;
}

.classifier .right-column .task-area .workflow-task .answer .help {
  height: 16px;
  width: 0px;
  background: #fff;
  border-radius: 16px;
  color: #000;
}

span.help {
  margin: 5px;
}

.answer .fa {
  margin-left: -4px;
  margin-top: 0px;
}

.classifier .right-column .task-area .workflow-task .answer:hover {
  background: #afcad8;
}

.toggle-help-button {
  cursor: pointer;
}

.toggle-help-button img {
  margin-left: 214px;
}

.task-area.transcribe {
  display: none;
}

.right-column .small-button.ghost {
  border: 2px solid #69A7C7;
  color: #69A7C7;
}

.subject-set-toolbar {
  margin-top: 8px;
  width: 72px;
}

.subject-set-toolbar-links a {
  width: 73px;
}

.subject-set-viewer {
  margin-left: 70px;
}

.subject-set-toolbar-links {
  padding-left: 7px;
}

/***
* Mark page scrolling thumbnail browser
***/

.subject-set-toolbar-panes .pane {
  height: 100vh;
  overflow: scroll;
}

.light-box-area .carousel {
  padding-bottom: 90px;
}

/***
* Transcribe
***/

.transcribe-tool .small-button {
  padding: 0.45em 1em;
  margin: 0 4px;
}

.transcribe-tool .minor-button.ghost, .small-button.ghost {
  padding: 0.3em 1em 0.4em 1em;
  margin: 0 4px;
  color: #31627E;
  background: #EBEBEB;
  border: 2px solid #EBEBEB;
}

.transcribe-tool .minor-botton,
.transcribe-tool .small-button {
  background: #69A7C7;
}

.transcribe-tool .minor-botton, .transcribe-tool .small-button {
  background: #69A7C7;
  text-transform: uppercase;
  font-size: .9em;
  font-weight: 400;
}

.yale-tutorial-modal .draggable-modal.help-modal.draggable {
  z-index: 12;
}

.transcribe-help-icon-container {
  position: absolute;
  right: 25px;
  top: 25px;
  cursor: pointer;
}

/***
* Thumbnail browser
***/

.subject-set-toolbar-panes .pane.active {
  left: 80px;
  width: 158px;
}

.light-box-area .carousel {
  box-shadow: none;
}

/***
* Login links
***/

.login .login-container {
  width: 130px;
}

.login .options {
  display: none;
}

.login:hover .options {
  display: inline-block;
}

.login:hover .label {
  display: none;
}

.options a:hover {
  cursor: pointer;
}
