Help build a database of Yale theater history in New Haven.
<div class='decision-area'>
  <a class="standard-button d-left" href="/#/mark" >Start Marking</a> <span id='fancyor'>or</span><a class="standard-button d-right" href="/#/transcribe" >Start Transcribing</a> 
</div>

